body {
    padding: 20px;
    background-color: #fefefe;
    text-align: center;
}

#controls {
    clear: both;
    margin: 20px 40px;
}

#controls button {
    width: 440px;
    font-size: 1.5em;
    margin: auto;
}

svg rect {
    stroke: white;
    fill: #80ca8a;
}

svg rect.alive {
    fill: black;
}